/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5, h6{
  text-align: center;
}

hr {
  width: 80%
}

.button {
  cursor: pointer;
}

ul {
  align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  align: center;
  margin: 0 5px;
}
